<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vendor and Order Tracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
  <h1>Add a new order to @Model.Name</h1>
  <form action="/vendors/@Model.Id/orders" method="post">
    <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
    <label for="title">Enter order title</label>
    <input id="title" name="title" type="text">
    <label for="description">Enter order description</label>
    <input id="description" name="description" type="text">
    <label for="price">Enter order price</label>
    <input id="price" name="price" type="number">
    <label for="date">Enter date</label>
    <input id="date" name="date" type="date">
    <button type='submit'>Submit</button>
  </form>
  </body>
</html>